@import 'node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Lugrasimo&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
  --background-footer: rgba(47, 48, 58, 1);
  --background: rgb(255, 255, 255);
  --background-team: rgba(245, 244, 250, 1);
  --fuente-general: 'Roboto', sans-serif; /*fuente general para la pagina*/
  --color-link: rgb(33, 150, 243, 1);
  --color-texto: rgb(33, 33, 33);
  --color-card: rgba(238, 238, 238, 1);
}
/* Normalice */
* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 15px; */
}
/*estilos generales*/
body {
  background-color: var(--background);
}
.unList /*quita viñeta de lista*/ {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
/*aqui comienza los estilos de la seccion header con los links de navegacion*/

.navigation__menu {
  /* background-color: rgba(47, 48, 58, 0.1); */
  height: 80px;
  padding: 30px;
}
.navigation__position {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 250px;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 55px;
}
.navigation__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.navigation__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.text__links {
  text-transform: capitalize;
  color: #212121;
  font-family: var(--fuente-general);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}
.webstudio {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}
/***************************************************************************/
/*aqui comienza los estilos de la seccion hero*/
.hero {
  width: 100%;
  height: 600px;
  background: linear-gradient(rgba(5, 2, 5, 0.3), rgba(5, 2, 5, 0.3)),
    url(../images/heroBackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
}
.hero__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  margin-top: 150px;
  height: 120px;
}
.hero__tittle {
  width: 696px;

  color: #fff;
  text-align: center;
  font-family: var(--fuente-general);
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px; /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
}
.button__services {
  height: 50px;
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font-family: var(--fuente-general);
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
/***************************************************************************/

/*aqui comienza los estilos de la seccion caracteristicas */
.characteristics {
  /* background-color: rgba(33, 33, 33, 0.1); */
  margin-top: 89px;
  margin-bottom: 90px;
}
.characteristics__position {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.characteristics__item {
  /* background-color: azure; */
  flex-basis: 270px;
  height: 251px;
  display: block;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.characteristics__item > h3 {
  color: #212121;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 10px;
}
.characteristics__item > p {
  color: #757575;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
  
}
.characteristics__icons {
  border-radius: 4px;
  background: #f5f4fa;
}
/***************************************************************************/
/*aqui empieza los estilos de la seccion a que nos dedicamos*/
.solution__products {
  display:flex;
  flex-direction:column;
  gap: 50px;
  margin-top: 99px;
  margin-bottom: 94px;
}
.products__list{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
}
.products__image{
  width: 370px;
  height: 294px;
}
.products__title {
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
}

/***************************************************************************/
/*aqui empieza los estilos de la seccion nuestro equipo*/

.team{
  background-color: var(--background-team);
  
}
.position__team{

  display:flex;
  flex-direction: column;
  justify-content: center;
  gap:50px;

}
.title__team{
color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-top:94px ;
text-transform: uppercase;
}
.position__list{
  display: flex;
  flex-direction: row;
  justify-content:space-evenly;
  gap: 30px;

}
.team__img{
  width: 270px;
  height: 260px;
}
.card__team{
  background-color:#fff;
  width: 270px;
  height:428px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 94px;
  border-radius: 0px 0px 4px 4px;

}
.team__member{
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin: 30px 0 10px 0 ;
}
.team__role{
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: 0.48px;
margin-bottom: 16px;

}
.icon__team{
  width: 30px;
height: 30px;
flex-shrink: 0;
}
.icons__team{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

/***************************************************************************/
/*aqui empieza los estilos de la seccion clientes regulares*/
.position__customers{
  display:flex;
  flex-direction: column;
  align-items:center;
  gap: 40px;

}
.title__customers{
  color: #212121;
text-align: center;
font-family: Roboto;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: 1.08px;
margin-top: 59px;
text-transform: uppercase;
}
.icons__container{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  gap: 30px;
}
.customers__icon{
  width: 106px;
height: 52.826px;
flex-shrink: 0;
margin-bottom: 150px;
}

/***************************************************************************/
/*aqui empieza los estilos de la seccion footer***/
.footer {
  height: 262px;
  background-color: var(--background-footer);
}
.position__footer {
  display: flex;
  flex-direction: row;
  padding-top: 60px;
  padding-bottom: 94px;
  gap: 150px;
}
.info__footer {
  width: 250px;
  height: 95px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info__address {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  letter-spacing: 0.42px;
}
.icons__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}
.social__network {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.icons__sizeFooter{
  width: 35px;
  height: 35px;
}
/**************************estilos portfolio.html********************/

.button__filter {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 32px;
  margin-top: 112px;
  margin-bottom: 56px;
}
.button__styles {
  width: 145px;
  height: 38px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
  margin: 1px;
  border-style: none;
  outline: none;
}
.button__styles:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.card__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-bottom: 82px;
}
.card__item {
  width: auto;
  height: 404px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-card);
}
.card__item:hover {
  border: 1px solid #eee;
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.card__tittle {
  color: #212121;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 200% */
  letter-spacing: 1.08px;
  margin-top: 15px;
  margin-left: 24px;
}
.card__info {
  color: #757575;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 187.5% */
  letter-spacing: 0.48px;
  margin-left: 24px;
}
